/* ----------- RESPONSIVE SETTINGS --------------- */

/* Media query for screens less than 600px wide */
@media (max-width: 600px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav-icon {
        display: block;
    }
    nav ul {
        justify-content: center;
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .nav-logo img {
        margin-bottom: 10px;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }
    .hero-text p, 
    .about-section p {
        font-size: 1rem;
    }
    .flickr-albums-container {
        flex-direction: column;
    }

    .contact-content {
        flex-direction: column;
        text-align: center;
    }

    .contact-text {
        padding-right: 0;
    }

    .contact-image {
        margin-bottom: 20px;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-contact, .footer-follow {
        text-align: center;
        margin: 10px 0;
    }
}

/* Media query for screens less than 480px wide */
@media (max-width: 480px) {
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    
    .hero h1 {
        font-size: 2rem;
    }
    .hero p {
        font-size: 1rem;
    }
    .about-section p {
        font-size: 0.9rem;
        padding: 0 10px; /* Adjust padding to prevent text from touching the screen edge */
    }


    .contact-section h2 {
        font-size: 2rem;
    }

    .contact-section p {
        font-size: 1rem;
    }

    .contact-form label {
        font-size: 1rem;
    }
}
